{% extends "alcher/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/alcher/login.css' %}">
<p class="para">Alcheringa connect lets you associate with the people in your life</p>
</div>
<div class="content-section">
    <div class="card1">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="card-header1" style="margin-bottom:20px ;">
                    <p style="font-size:20px; color:white; padding-left: 10px;">Login</p>
                    <div class="headerlink"
                        style="display:flex ; justify-content:space-between; padding: 5px 20px 0px 10px;">
                        <p class="sign-in" style="color:white ; font-size: 12px; margin-right: 0px;">
                            Already Have An Account? </p><a class="ml-2" href="{% url 'register' %}"" style=" color:white ;
                            font-size: 12px; ">Sign Up</a>
                    </div>
                </div>
                <div class="card-body1" style="padding-right:20px ; margin-top: 20px;">
                {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group" style="margin-top:-70px ; text-align:center;">
                <button class="btn btn-outline-info" type="submit" style="margin-bottom:30px ;">Login</button>
            </div>
        </form>

    </div>
    {% endblock content %}
