
{% extends "alcher/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/alcher/login.css' %}">
                <p class="para">Alcheringa connect lets you associate with the people in your life</p>
            </div>
            <div class="card1">
                <div class="card-header1">
                    <h1 class="login">Login</h1>
                    <p class="register">Don't have an account?<a href="" class="link">Register here</a></p>
                </div>
                <div class="card-body1">
                    <p class="body-text">Username</p>
                    <input type="text" name="" id="" class="input">
                    <p class="body-text">Password</p>
                    <input type="text" name="" id="" class="input">
                    <a href="home/"><button type="button" class="btn btn-outline-danger">Login</button></a>

                </div>
            </div>
        </div>
        {% endblock content %}>