{% extends "alcher/base.html" %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/alcher/mypost.css' %}">
<div class="myposthead">
    <p class="postheader">My Posts <div class="back"><a href="/home/"><i class="gg-arrow-left left"></i></a><a
                href="/home/">
                <p class="backbtn">Go Back</p>
            </a>

        </div>
    </p>
</div>

<div class="row">
    {% for i in likes %}

    <div class="col-lg-4 col-md-6">
        <div class="Mypost">
            <div class="posts"> <img src="{% static '/alcher/pexels-pixabay-206359.jpg' %}" alt="" class="postimg">
                <div class="postfooter">
                    <p class="post-header"><img src="{% static '/alcher/like.png' %}" alt="" class="like">{{i}}
                        likes
                    </p><i class="gg-bookmark mark2"></i>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

</body>

</html>
{% endblock content %}